body {
    font-display: auto;
    background-color: rgb(204, 86, 18);
    color: rgb(33, 33, 34);
    text-align: center;
}

button {
    text-align: center;
    border-radius: 100px;
    width: 100px;
}